@model GMS.ViewModels.FetchClientCustomerBranchDetails


@using GMS.ViewModels;
@{
    ViewBag.Title = "ManageDevice";
    Layout = "~/Views/Shared/MainMenu.cshtml";
    FetchClientCustomerBranchDetails details = new FetchClientCustomerBranchDetails();
    details.showClient = "yes";
    details.showCustomer = "No";
    details.showBranch = "No";
    details.showClustrer = "No";
    details.showSite = "No";
    details.showDevice = "No";
    details.showClientMandatory = "No";
    details.showCustomerMandatory = "No";
    details.showBranchMandatory = "No";
    details.showClustrerMandatory = "No";
    details.showSiteMandatory = "No";
    details.showDeviceMandatory = "No";

    //details.Session_ClientId = Convert.ToInt32(HttpContext.Current.Session["ClientId"]);
    //details.Session_ClientName = Convert.ToString(HttpContext.Current.Session["ClientName"]);
    //details.Session_CustId = Convert.ToInt32(HttpContext.Current.Session["CustId"]);
    //details.Session_CustName = Convert.ToString(HttpContext.Current.Session["CustomerName"]);
    //details.Session_BranchId = Convert.ToInt32(HttpContext.Current.Session["BranchId"]);
    //details.Session_BranchName = Convert.ToString(HttpContext.Current.Session["BranchName"]);
    //details.Session_ClustId = Convert.ToInt32(HttpContext.Current.Session["ClusterId"]);
    //details.Session_ClusterName = Convert.ToString(HttpContext.Current.Session["ClusterName"]);
    //details.Session_SiteId = Convert.ToInt32(HttpContext.Current.Session["SiteId"]);
    //details.Session_SiteName = Convert.ToString(HttpContext.Current.Session["SiteName"]);

}

<link href="~/Content/Main.css" rel="stylesheet" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="~/Content/Responsive.css" rel="stylesheet" />

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="~/Content/Responsive.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        var row;
        $('td[name = Edit]').click(function () {

            var $row = $(this).closest("tr");
            var $text = $row.find("#nr").text();
            var ClusterId = $row.find("#ClusterId").text();
            var Site = $row.find("#SiteNme").text();
            $('#HdnInsert_Update').val(1);
            $.ajax({
                type: "POST",
                url: "/ManageDevice/EditDevice",
                contentType: "application/json; charset=utf-8",
                data: '{"DeviceId":"' + $text + '"}',
                success: function (result, status, xhr) {
                    var WarrentyStartDate = ToJavaScriptDate(result[0].WarrantyStartDate);
                    var warrentyEndDate = ToJavaScriptDate(result[0].WarrantyEndDate);
                    $("#HdnClientDD").val(result[0].ClientName + ":" + result[0].ClientId).change();
                    $("#DeviceSerialNo").text(result[0].DeviceSerial);
                    $("#DeviceIdHdn").val($text);
                    $("#SiteHdn").val(Site);
                    $("#ClusterIdHdn").val(ClusterId);
                    $("#ClientIdhdn").val(result[0].ClientId);
                    $("#MacID").val(result[0].DeviceSerial);
                    $("#Device_IEMI_No1").val(result[0].DeviceIMEINo);
                    $("#DevicePhone1").val(result[0].DevicePhone);
                    $("#Carrier1").val(result[0].Carrier);
                    $("#DeviceIEMINo2").val(result[0].DeviceIMEINo);
                    $("#DevicePhone2").val(result[0].DeviceAlertPhone2);
                    $("#SupervisorPwd").val(result[0].SupervisorPwd);
                    $("#SuperUserPwd").val(result[0].SuperUserPwd);
                    $("#EmailID").val(result[0].DeviceAlertEmail1);
                    $("#DeviceIEMINo2").val(result[0].DeviceIMEINo);


                    // Device State
                    if (result[0].DeviceState == "ENABLED") {
                        $('#DeviceStatus').val("A");
                    } else {
                        $('#DeviceStatus').val("D");
                    }

                    // Device Type
                    if (result[0].DeviceType == "Attendence") {
                        $('#DeviceType').val("Attendence");
                    }
                    else if (result[0].DeviceType == "Enrollment") {
                        $('#DeviceType').val("Enrollment");
                    }
                    else if (result[0].DeviceType == "Attendence Cum Enrollment") {
                        $('#DeviceType').val("Attendence Cum Enrollment");
                    }

                    $("#HardwareVersion").val(result[0].HardwareVersion);
                    $("#WarrantyStartDate").val(WarrentyStartDate);
                    $("#WarrantyEndDate").val(warrentyEndDate);
                    $("#DeviceAlertSMS1").val(result[0].DeviceAlertPhone1);
                    $("#DeviceAlertSMS2").val(result[0].DeviceAlertPhone2);
                    $("#DeviceAlertEmail1").val(result[0].DeviceAlertEmail1);
                    $("#DeviceAlertEmail2").val(result[0].DeviceAlertEmail2);
                    $("#Building").val(result[0].Location);
                    $("#Location1").val(result[0].Location);

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Status: " + textStatus); alert("Error: " + errorThrown);
                }
            });
        });


         

              $('#Add_New').click(function ()  {
                document.getElementById('id07').style.display = 'block';
                $("input:text").val("");
                $('label[id*="DeviceSerialNo"]').text('');
                 $("#HdnInsert_Update").val(2);
            });

             $('#ViewAll').click(function () {
            window.location.reload();


            });

         $('#DownloadExcel').on('click', function () {

            $.ajax({
                type: "POST",
                url: "/ManageDevice/WriteExcel",
                contentType: "application/json",
                //data: '{"BranchId":"' + document.getElementById("DDHub").value + '"}',
                success: function (result, status, xhr) {

                   window.location.href = "@Url.RouteUrl(new
                             { Controller = "ManageDevice", Action = "DownloadExcel" })/?file=" + result;

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Status: " + textStatus); alert("Error: " + errorThrown);
                }
            });

         });



        $('#DownloadPdf').on('click', function () {

            $.ajax({
                type: "POST",
                url: "/ManageDevice/ManageDevicePdf",
                contentType: "application/json",
                //data: '{"BranchId":"' + document.getElementById("DDHub").value + '"}',
                success: function (result, status, xhr) {

                   window.location.href = "@Url.RouteUrl(new
                             { Controller = "ManageDevice", Action = "Downloadpdf" })/?file=" + result;

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Status: " + textStatus); alert("Error: " + errorThrown);
                }
            });

        });

           $('#BtnSubmitUpdate').click(function () {

                $.ajax({
                    type: "POST",
                    url: "/ManageDevice/InsertUpdateDevice",
                    contentType: "application/json; charset=utf-8",
                    data: '{"Insert_Update":"' + $('#HdnInsert_Update').val() + '","hdnDeviceId": "' + $('#DeviceIdHdn').val() + '", "ClusterId": "' + $("#ClusterIdHdn").val() + '", "ClientId": "' + $("#ClientIdhdn").val() + '", "SiteName": "' + $("#SiteHdn").val() + '", "DeviceIMEI": "' + $("#Device_IEMI_No1").val() + '", "DevicePhone": "' + $("#DevicePhone1").val() + '","DeviceCarrier": "' + $("#Carrier1").val() + '","DeviceType": "' + $("#DeviceType").val() + '","DeviceState": "' + $("#DeviceStatus").val() + '","EmailId": "' + $("#EmailID").val() + '","SuperVisorPassword": "' + $("#SuperVisorPassword").val() + '","Superuserpassword": "' + $("#SuperUserPwd").val() + '","WarrantyStartDate": "' + $("#WarrantyStartDate").val() + '","WarrantyEndDate": "' + $("#WarrantyEndDate").val() + '","DeviceAlertSMS1": "' + $("#DeviceAlertSMS1").val() + '","DeviceAlertSMS2": "' + $("#DeviceAlertSMS2").val() + '","DeviceAlertEmail1": "' + $("#DeviceAlertEmail1").val() + '","DeviceAlertEmail2": "' + $("#DeviceAlertEmail2").val() + '","Location": "' + $("#Location1").val() + '"}',

                    success: function (result, status, xhr) {
                        alert(result[0]);
                        window.location.reload();
                    },

                });
            });

    });

    function ToJavaScriptDate(value) {
        var pattern = /Date\(([^)]+)\)/;
        var results = pattern.exec(value);
        var dt = new Date(parseFloat(results[1]));
        return (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear();
    }
</script>
<section class="sectionBM1">
    <center>
        <h3>
            <b style="color:#1d4769;font-size:16PX;">MANAGE DEVICES</b>
        </h3>
    </center>
    <div class="navbarTwo">
        <strong>EXISTING DEVICE DETAILS</strong>
        <div class="eps-pdf">
            <i class="fa fa-file-excel-o excel" style="font-size:15px" id="DownloadExcel"></i>
            <i class="fa fa-file-pdf-o pdf" style="font-size:15px" id="DownloadPdf"></i>
        </div>

    </div>
    <br />
    <div class="row branch">

        <span class="search">
            <input type="text" id="myInput" placeholder="Search">
            <span class="fa fa-search"></span>
        </span>
        <a href="#"><b style="color:#00778e;text-decoration: underline;" id="ViewAll">VIEW ALL</b></a>
        <a href="#" id="BulkUpload" class="w3-button   w3-round-large sub-btn" style="float:right;" onclick="document.getElementById('viewdevice').style.display='block'">Allocate</a>
        <a href="#" id="AddNewBtn" class="w3-button  w3-round-large sub-btn" style="float:right;margin: 0px 3PX;" onclick="document.getElementById('id06').style.display='block'"> Bulk Upload</a>
        <a href="#" id="AddNewBtn" class="w3-button  w3-round-large sub-btn" style="float:right;" onclick="document.getElementById('id07').style.display='block'">Add New</a>

    </div>
    <div class="row search-font">
        <p>You may search on (Device Serial No/Device IMEI No/Customer Name/Branch/Customer Name/Site/Post/Device Status)</p>
    </div>
    <div style="overflow-x:auto;">
        <table class="tableOne">
            <thead>
                <tr class="trBM1">
                    <th>SlNo</th>
                    <th>DEVICE SERIAL NO</th>
                    <th> DEVICE IEMI NO</th>
                    <th>CUSTOMER NAME</th>
                    <th>BRANCH</th>
                    <th> CLUSTER NAME</th>


                    <th>SITE</th>
                    <th>POST</th>
                    <th> DEVICE STATUS</th>
                    <th colspan="2">ACTIONS</th>
                </tr>
            </thead>
            <tbody id="myTable">
                @{int SlNo = 0;}
                @foreach (var d in ViewBag.deviceviewall)
                {
                    SlNo = SlNo + 1;
                    <tr>
                        <td scope="row">@SlNo</td>
                        <td id="nr" hidden>@d.DeviceId</td>
                        <td>@d.DeviceSerial</td>
                        <td>@d.ClientName</td>
                        <td>@d.ClusterName</td>
                        <td>@d.DeviceType</td>
                        <td id="SiteNme">@d.DeviceHomeLocation</td>
                        <td>@d.DeviceIMEINo</td>
                        <td>@d.DeviceState</td>
                        <td hidden>@d.SiteId</td>
                        <td hidden>@d.SiteName</td>

                        <td id="ClusterId" hidden>@d.ClusterId</td>
                        <td>@d.DeviceType</td>
                        <td name="Edit"><i class="fa fa-pencil-square-o" aria-hidden="true" onclick="document.getElementById('id07').style.display='block'"></i></td>
                        <td name="Delete"><i class="fa fa-times-circle-o" aria-hidden="true"></i> </td>

                    </tr>


                }
            </tbody>

        </table>
    </div>


    <div id="id06" class="w3-modal">
        <div class="w3-modal-content device-mod">
            <header class="w3-container" style="    background: #00778e;
    color: white;">
                <span onclick="document.getElementById('id06').style.display='none'"
                      class="w3-button w3-display-topright modal-close" style="background: white !important;
    color: black !important;">&times;</span>
                <h5>UPLOAD NEW DEVICE</h5>
            </header>
            <form method="post" action="/ManageDevice/DeviceBulkUpload" enctype="multipart/form-data">
                <div class="w3-container modal-inner-pd">
                    <div class="w3-row" style="border-radius:5px;padding: 2% 2%;">
                        <div class="w3-col s12  w3-center">
                            <table>
                                <tr style="text-align:left;">
                                    <th><label for="Client">Client</label></th>
                                    <th>
                                        <select id="Client" name="Client" style="width:80%;" class="form-control1">
                                            <option value="">India</option>

                                            <option value="">USA</option>
                                        </select>
                                    </th>
                                </tr>
                                <tr>
                                    <th><label for="UploadFile">UploadFile</label></th>
                                    <th>
                                        <input type="file" id="UploadFile" name="fileUpload" class="form-control1 input">
                                    </th>
                                </tr>
                            </table>
                            <center>
                                <p>
                                    <a href="#" style="text-decoration:none;">Download  Device File Format</a>
                                </p>
                            </center>
                            <button class="w3-button   w3-round-large " id="SubmitBulkUpload" style="background: #00778e;
    color: white;">
                                Submit
                            </button>
                            <br />
                        </div>
                    </div>
                    <br />
                </div>
            </form>
        </div>
    </div>
    <div id="id07" class="w3-modal">
        <div class="w3-modal-content ">
            <header class="w3-container" style="    background: #00778e;
    color: white;">
                <span onclick="document.getElementById('id07').style.display='none'"
                      class="w3-button w3-display-topright modal-close" style="background: white !important;
    color: black !important;">&times;</span>
                <h5 style="    font-size: 15px !important;
    text-align: center;
    FONT-WEIGHT: 600;">
                    ADD NEW DEVICE
                </h5>
            </header>
            <div class="w3-container modal-inner-pd1">
                <div class="w3-row" style="border-radius:5px;padding: 2% 2%;">
                    <div class="w3-col s6  w3-center">
                        <input id="HdnInsert_Update" hidden />
                        <input id="DeviceIdHdn" hidden />
                        <input id="ClusterIdHdn" hidden />
                        <input id="ClientIdhdn" hidden />
                        <input id="SiteHdn" hidden />
                        <table>

                            @Html.Partial("DropdownForAllLevels", details)
                            @*<tr>
                                    <th><label for="Device Type">CLIENT</label></th>
                                    <th>
                                        <select id="DeviceType" name="Device Type">
                                            <option value="SELECT">SELECT</option>
                                            <option value="Attendence">Attendence</option>
                                            <option value="Enrollment">Enrollment</option>
                                            <option value="Attendence Cum Enrollment">Attendence Cum Enrollment</option>
                                        </select>
                                    </th>
                                </tr>*@
                            <tr>
                                <th><label for="MacID">Site</label></th>
                                <th>
                                    <select id="DeviceType" name="Device Type" class="form-control1">
                                        <option value="SELECT">SELECT</option>
                                        <option value="Attendence">Attendence</option>
                                        <option value="Enrollment">Enrollment</option>
                                        <option value="Attendence Cum Enrollment">Attendence Cum Enrollment</option>
                                    </select>
                                </th>
                            </tr>
                            <tr>
                                <th><label for="Device">Post</label></th>
                                <th>
                                    <select id="DeviceType" name="Device Type" class="form-control1">
                                        <option value="SELECT">SELECT</option>
                                        <option value="Attendence">Attendence</option>
                                        <option value="Enrollment">Enrollment</option>
                                        <option value="Attendence Cum Enrollment">Attendence Cum Enrollment</option>
                                    </select>
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    <label for="Device Phone">
                                        Device Serial No.
                                    </label>
                                </th>
                                <th>
                                    <input type="text" id="DevicePhone1" name="Device Phone1" style="width:100%;" class="form-control1 input">
                                </th>
                            </tr>
                            <tr>
                                <th><label for="Carrier1">Device Type </label></th>
                                <th>
                                    <select id="DeviceType" name="Device Type" class="form-control1">
                                        <option value="SELECT">SELECT</option>
                                        <option value="Attendence">Attendence</option>
                                        <option value="Enrollment">Enrollment</option>
                                        <option value="Attendence Cum Enrollment">Attendence Cum Enrollment</option>
                                    </select>
                                </th>
                            </tr>
                            <tr>
                                <th><label for="Device">Device IEMI No</label></th>
                                <th>
                                    <input type="text" id="DeviceIEMINo" name="Carrier1" style="width:100%;" class="form-control1 input">
                                </th>
                            </tr>
                            <tr>
                                <th><label for="Device Phone">Device Phone</label></th>
                                <th>
                                    <input type="text" id="DevicePhone" name="Device Phone1" style="width:100%;" class="form-control1 input">
                                </th>
                            </tr>
                            <tr>
                                <th><label for="Device Phone2">Carrier</label></th>
                                <th>
                                    <input type="text" id="DevicePhone" name="Device Phone" style="width:100%;" class="form-control1 input">
                                </th>
                            </tr>

                            <tr>
                                <th><label for="SupervisorPwd">SupervisorPwd</label></th>
                                <th>
                                    <input type="text" id="SupervisorPwd" name="SupervisorPwd" style="width:100%;" class="form-control1 input">
                                </th>
                            </tr>
                            <tr>
                                <th><label for="SuperUserPwd">SuperUserPwd</label></th>
                                <th>
                                    <input type="text" id="SuperUserPwd" name="SuperUserPwd" style="width:100%;" class="form-control1 input">
                                </th>
                            </tr>
                        </table>
                    </div>
                    <div class="w3-col s6  w3-center">
                        <table>

                            <tr>
                                <th><label for="EmailID">EmailID</label></th>
                                <th>
                                    <input type="email" id="EmailID" name="EmailID" style="width:100%;" class="form-control1 input">
                                </th>
                            </tr>
                            <tr>
                                <th><label for="Device Status">Device Status</label></th>
                                <th>
                                    <select id="DeviceStatus" name="Device Status" class="form-control1">
                                        <option value="A">Enabled</option>
                                        <option value="D">Disabled</option>

                                    </select>
                                </th>
                            </tr>
                            <tr>
                                <th><label for="Hardware Version">Hardware Version</label></th>
                                <th>
                                    <input type="text" id="HardwareVersion" name="Hardware Version" style="width:100%;" class="form-control1 input">
                                </th>
                            </tr>
                            <tr>
                                <th><label for="Warranty Start Date">Warranty Start Date</label></th>
                                <th>
                                    <input type="text" id="WarrantyStartDate" name="Warranty Start Date" style="width:100%;" class="form-control1 input">
                                </th>
                            </tr>
                            <tr>
                                <th><label for="Warranty End Date">Warranty End Date</label></th>
                                <th>
                                    <input type="text" id="WarrantyEndDate" name="Warranty End Date" style="width:100%;" class="form-control1 input">
                                </th>
                            </tr>
                            <tr>
                                <th><label for="Remarks">Remarks</label></th>
                                <th>
                                    <input type="text" id="Remarks" name="Remarks" style="width:100%;" class="form-control1 input">
                                </th>
                            </tr>


                            <tr>
                                <th><label for="Device Alert SMS">Device Alert SMS </label></th>
                                <th>
                                    <input type="text" id="DeviceAlertSMS1" name="Device Alert SMS 1" style="width:100%;" class="form-control1 input">
                                </th>
                            </tr>

                            <tr>
                                <th><label for="Device Alert Email">Device Alert Email </label></th>
                                <th>
                                    <input type="text" id="DeviceAlertEmail1" name="Device Alert Email 1" style="width:100%;" class="form-control1 input">
                                </th>

                            </tr>




                            <tr>
                                <th><label for="Location 1">Location </label></th>
                                <th>
                                    <input type="text" id="Location" name="Location1" style="width:100%;" class="form-control1 input">
                                </th>

                            </tr>






                        </table>



                    </div>
                </div>

                <br />
                <center>
                    <button class="w3-button w3-round-large " id="BtnSubmitUpdate" style="background: #00778e;
    color: white;">
                        Submit
                    </button>
                </center>
                <br />
            </div>

        </div>
    </div>


    <div id="viewdevice" class="w3-modal">
        <div class="w3-modal-content device-mod">
            <header class="w3-container" style="    background: #00778e;
    color: white;">
                <span onclick="document.getElementById('viewdevice').style.display='none'"
                      class="w3-button w3-display-topright modal-close" style="background: white !important;
    color: black !important;">&times;</span>
                <h5>DEVICE ALLOCATION</h5>
            </header>

            <div class="w3-container modal-inner-pd">
                <div class="w3-row" style="border-radius:5px;padding: 2% 2%;">
                    <div class="w3-col s12 w3-center">

                        <table>
                            <tr>
                                <th><label for="Device">Device MacID</label></th>
                                <th>
                                    <input type="text" id="Device MacID" name="Device MacID" STYLE="width:100%;" class="form-control1 input">
                                </th>
                            </tr>

                            <tr>
                                <th><label for="Device">Device IEMI No</label></th>
                                <th>
                                    <input type="text" id="DeviceIEMINo" name="Carrier1" STYLE="width:100%;" class="form-control1 input">
                                </th>
                            </tr>

                            <tr>
                                <th><label for="Device Type">Customer</label></th>
                                <th>
                                    <select id="DeviceType" name="Device Type" class="form-control1 ">
                                        <option value="SELECT">SELECT</option>
                                        <option value="Attendence">Attendence</option>
                                        <option value="Enrollment">Enrollment</option>
                                        <option value="Attendence Cum Enrollment">Attendence Cum Enrollment</option>
                                    </select>
                                </th>
                            </tr>
                            <tr>
                                <th><label for="Branch">Branch</label></th>
                                <th>
                                    <select id="DeviceType" name="Device Type" class="form-control1 ">
                                        <option value="SELECT">SELECT</option>
                                        <option value="Attendence">Attendence</option>
                                        <option value="Enrollment">Enrollment</option>
                                        <option value="Attendence Cum Enrollment">Attendence Cum Enrollment</option>
                                    </select>
                                </th>
                            </tr>
                            <tr>
                                <th><label for="Cluster">Cluster</label></th>
                                <th>
                                    <select id="DeviceType" name="Device Type" class="form-control1 ">
                                        <option value="SELECT">SELECT</option>
                                        <option value="Attendence">Attendence</option>
                                        <option value="Enrollment">Enrollment</option>
                                        <option value="Attendence Cum Enrollment">Attendence Cum Enrollment</option>
                                    </select>
                                </th>
                            </tr>
                            <tr>
                                <th><label for="Site">Site</label></th>
                                <th>
                                    <select id="DeviceType" name="Device Type" class="form-control1 ">
                                        <option value="SELECT">SELECT</option>
                                        <option value="Attendence">Attendence</option>
                                        <option value="Enrollment">Enrollment</option>
                                        <option value="Attendence Cum Enrollment">Attendence Cum Enrollment</option>
                                    </select>
                                </th>
                            </tr>
                            <tr>
                                <th><label for="Post">Post </label></th>
                                <th>
                                    <select id="DeviceType" name="Device Type" class="form-control1 ">
                                        <option value="SELECT">SELECT</option>
                                        <option value="Attendence">Attendence</option>
                                        <option value="Enrollment">Enrollment</option>
                                        <option value="Attendence Cum Enrollment">Attendence Cum Enrollment</option>
                                    </select>
                                </th>
                            </tr>


                        </table>
                    </div>

                </div>


                <center>

                    <button class="w3-button w3-round-large " id="BtnSubmitUpdate" style="background: #00778e;
    color: white;">
                        Allocate
                    </button>
                </center>

            </div>
            <br />
        </div>
    </div>


</section>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
